<footer class="site-footer" id="footer">
  <div class="container footer-grid">
    <div>
      <h3>LPPM Kampus</h3>
      <p>Gedung ICT Centre Lantai 4, Tembalang, Semarang</p>
      <p>Email: lppm@kampus.ac.id</p>
      <p>Telp: 024-0000000</p>
    </div>

    <div>
      <h3>Jam Layanan</h3>
      <p>Senin - Kamis: 07.30 - 16.00</p>
      <p>Jumat: 07.30 - 16.30</p>
    </div>

    <div>
      <h3>Link Penting</h3>
      <p><a href="#">Website Kampus</a></p>
      <p><a href="#">Sistem Penelitian</a></p>
      <p><a href="#">E-Journal</a></p>
    </div>
  </div>
</footer>
