<header class="topbar">
  <div class="container nav-wrapper">
    <div class="brand">LPPM Kampus</div>

    <nav class="nav-menu">
      <a href="/#hero">Beranda</a>
      <a href="/#berita">Berita</a>
      <a href="/#video">Video</a>
      <a href="/#footer">Kontak</a>
    </nav>
  </div>
</header>
